@using techIE.Data.Entities.Enums
@model ProductFormViewModel
@{
    ViewData["Title"] = "Admin - Edit Official Product";
}

<head>
    <link rel="stylesheet" href="~/css/button-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form-focus.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form-input.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin/admin-panel.css" asp-append-version="true" />
</head>

<div class="panel">
    <img src="~/images/admin/admin-panel.jpg" />
    <div class="panel-inputs">
        <div class="category-options text-center">
            <h2 class="mb-4">
                ADMIN: Edit Official Product
            </h2>
            <form method="post">
                <span asp-validation-for="Name" class="text-danger"></span>
                <div class="mb-4 mt-4 text-center">
                    <input class="form-control" asp-for="@Model.Name" aria-required="true" placeholder="Name..." />
                </div>

                <span asp-validation-for="Price" class="text-danger"></span>
                <div class="mb-4 mt-4 text-center">
                    <input class="form-control" asp-for="@Model.Price" aria-required="true" placeholder="Price..." />
                </div>

                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                <div class="mb-4 mt-4 text-center">
                    <input class="form-control" type="url" asp-for="@Model.ImageUrl" aria-required="true" placeholder="Image Url..." />
                </div>

                <div class="mb-4 mt-4 text-center">
                    <select asp-for="Color"
                            class="form-control"
                            asp-items="Html.GetEnumSelectList<Color>()">
                    </select>
                </div>

                <span asp-validation-for="Description" class="text-danger"></span>
                <div class="mb-4 mt-4 text-center">
                    <textarea class="form-control" asp-for="@Model.Description" aria-required="true" placeholder="Write product description here...">
                    </textarea>
                </div>

                <div class="mb-4 mt-4 text-center">
                    <select asp-for="@Model.CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                    </select>
                </div>

                <div class="mb-3 text-center">
                    <input class="btn btn-primary text-center admin-btn" type="submit" value="Edit" data-confirm="Are you sure you want to edit product details?" />
                    <input class="btn btn-primary text-center admin-btn" type="button" value="Back" onclick="location.href='@Url.Action("Products", "Admin")'" />
                </div>
            </form>
        </div>

    </div>
</div>

<script src="~/js/alert/confrimation.js" asp-append-version="true"></script>