<h2 class="text-center details-header">@ViewBag.Title</h2>
<hr class="official long"/>

<div class="panel-details">
    <div class="details-img">
        <img id="product-image" src="@Model.ImageUrl" />
    </div>
    <div class="details-info">
        <h4 class="details-category">Category: @Model.Category</h4>
        <h5 class="details-color">Color: <span id="product-color">@Model.Color</span></h5>
        @if (this.User.IsAdmin())
        {
            <h6 class="details-seller-username">Created by: @Model.Seller.UserName</h6>
            <h6 class="details-seller-email"> Contact email: @Model.Seller.Email</h6>
            <div class="admin-buttons">
                <a class="admin-button" asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id">
                    <img class="grow" src="~/images/menus/edit.svg" style="width: 25px">
                </a>
                <a class="admin-button" asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to delete @Model.Name?')">
                    <img class="grow" src="~/images/menus/delete.svg" style="width: 25px">
                </a>
            </div>
        }
        <hr class="details-description-separator" />
        <span class="details-description-header">Description:</span>
        <p class="details-description">@Model.Description</p>
        <hr class="details-price-separator" />
        <h3 class="details-price">Price: $@Model.Price</h3>
        <a class="admin-button" asp-area="" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" asp-route-store="Official">
            <img class="grow" src="~/images/menus/cart-plus.svg" style="width: 25px">
        </a>
    </div>
</div>

<script src="~/js/details-page.js"></script>