@model CartViewModel

@{
    ViewBag.Title = "Inspect Cart";
}

<head>
    <link rel="stylesheet" href="~/css/cart/table.css" />
    <link rel="stylesheet" href="~/css/cart/empty-cart.css" />
    <link rel="stylesheet" href="~/css/cart/cart-actions.css" />
    <link rel="stylesheet" href="~/css/horizontal-row/table-rows.css" />
</head>

@if (Model.Products.Count() > 0)
{
    <div class="cart-panel">
        <ul class="responsive-table">

            <li class="table-header">
                <div class="col col-1">Image</div>
                <div class="col col-2">Product Name</div>
                <div class="col col-3">Price per Product</div>
                <div class="col col-4">Quantity</div>
                <div class="col col-5">@*Remove Product from Cart*@</div>
            </li>

            @foreach (var product in Model.Products)
            {
                <li class="table-row">
                    <div class="col col-1"><img class="cart-product-img" src="@product.ImageUrl"></div>
                    <div class="col col-2">@product.Name</div>
                    <div class="col col-3">$@product.Price</div>
                    <div class="col col-4">@product.Quantity</div>
                    <div class="col col-5 cart-remove">
                        <a asp-area="" asp-controller="Cart" asp-action="Remove" asp-route-cartId="@Model.Id" asp-route-productId="@product.Id">
                            Remove
                        </a>
                    </div>
                </li>
            }
        </ul>
        <hr class="cart-separator"/>
        <h3 class="text-center mt-3">Total: $@Model.Total</h3>
        <div class="cart-buttons">
            <div class="cart-empty">
                <a asp-area="" asp-controller="Cart" asp-action="Empty" asp-route-cartId="@Model.Id">
                    Empty Cart
                </a>
            </div>
            <div class="cart-proceed">
                <a asp-area="" asp-controller="Order" asp-action="Finish" asp-route-cartId="@Model.Id">
                    Finish Order
                </a>
            </div>
        </div>
    </div>
} 
else
{
    <div class="cart-panel">
        <img id="empty-cart" src="~/images/cart/empty-cart.jpg">
        <hr class="cart-separator pink"/>
        <h2 class="text-center mt-3">No products in cart!</h2>
        <h5 class="text-center">Visit our Official Store or User Marketplace to add products to your cart!</h5>
    </div>
}